/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


a {
    text-decoration: none;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

nav {
    position: fixed;
}

.sbc {
    margin: 2rem;
}

    .sbc a {
        color: black;
    }

div.cnt {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.mbtn {
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    border-radius: 0rem;
    color: white;
}

.input {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 0rem;
}

.submit {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0rem;
}

.delete {
    background-color: red;
}

.update {
    background-color: green;
}

td {
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    /*    border: solid 1px grey;
*/
}

table {
    margin-top: 1.5rem;
}

.main-contianer {
    height: 100vh;
}

.fill {
    min-height: 100%;
    height: 100%;
}
