@{
    ViewBag.Title = "Home Page";
}

<main>


    <div class="container main-contianer">
        <div class="row fill">
            <div class="col-md-6  fill d-flex justify-content-center  flex-column g-2">
                <h1 id="title">Welcome to driveSync</h1>
                <p class="lead">Optimized Rides: Connecting You with the Best-Fit Co-Riders for Affordable Journeys to Your Destination.</p>

                <p><a class="btn btn-outline-dark" href="/Driver/DriverLogin">Login as Driver </a></p>
                <p><a href="/Passenger/PassengerLogin" class="btn btn-primary btn-md">Login as a rider</a></p>
            </div>
            <!-- Image column (right side) -->
            <div class="col-md-6  fill d-flex justify-content-center  flex-column g-2">
                <img src="~/Content/drive.png" alt="" class="img-fluid">
            </div>
            <!-- Text column (left side) -->

        </div>
    </div>
</main>